<!DOCTYPE html>
<html lang="en">
  <title>
    <title>Add</title>
  </title>
  <script>
    let body = document.querySelector('body');
    body.style.backgroundColor='black';
  </script>
  <footer style="background-color:black">
    <div style="font-size: small;color:grey;text-align: center;">
      From now on you have {{ total }} tasks to manage.
    </div>
  </footer>
  <body style="background-color:black">
    <div style="font-size: xx-large;color: red;text-align:center">
      Successfully added one new task {{ added }}. Good luck!
    </div>
  </body>
</html>