<!DOCTYPE html>
<html lang="en">
  <head>
    <title>remove</title>
  </head>
  <body style="background-color:black">
  <script>
    let body = document.querySelector('body');
    body.style.backgroundColor='black';
  </script>
    <div style="color:greenyellow;font-size:xx-large;text-align:center">Congratulations! You completed 
    the task {{ removed }}! How nice.</div>
  </body>
  <footer style="background-color: black">
    <div style="font-size: small;color:grey;text-align: center;">
      Now you have {{ total }} task(s) to manage.
    </div>
  </footer>
</html>